/** nav bar **/
nav {
    font-family: 'Quicksand', sans-serif;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;

}

.divHeader{
    margin-left: 25px;
    margin-right: 25px;
}

#logo {
    text-decoration: none;
    font-family: 'Caprasimo', cursive;
    font-size: 48px;
    color: white;
}

.body {
    background-color: white;
    background-image: none;
    margin: 0;
}


body {
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    margin: 0;
}

.custom-shape-divider-bottom-1692189963 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1692189963 svg {
    position: relative;
    display: block;
    width: calc(185% + 1.3px);
    height: 681px;
    transform: rotateY(180deg);
    z-index: -1;
}

.custom-shape-divider-bottom-1692189963 .shape-fill {
    fill: #FFFFFF;
}

.title {
    font-family: 'Caprasimo', cursive;
    font-size: 40px;
    color: white;
}

.subtitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    margin-top: -20px;
}

.link2 {
    font-weight: bold;
}

.link, .link2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    background-color: white;
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.link:before, .link2:before{
  content: '';
  display: block;
  background: white;
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
}

.link:hover, .link2:hover {
 background-position: 0;
}

.link:hover::before, .link2:hover::before {
  width: 100%;
}

#register {
  margin-left: 100px;
  margin-top: 150px;
}

.registerForm {
    margin-left: 100px;
    margin-top: 10px;
    position: absolute;
    z-index: 1;
}

.input, .input2 {
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin: 1em 0 1em 0;
    max-width: 190px;
    position: relative;
}

.input input, .input2 input {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    border-radius: 20px;
    margin-top: 5px;
}

.input input {
    width: 200%;
}

.input2 input {
    width: 250%;
}

.input label, .input2 label {
    margin-left: 5px;
    font-weight: bold;
}

.button {
    background-color: transparent;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 0 5px #eee;
    margin-top: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.alert {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: bold;
}

.succes {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: bold;
}
 

/** homepage **/

.title2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #FF9A8B;
    margin-left: 40px;
    margin-top: 50px;
}

.tasks, .Dtasks {
    display: flex;
    flex-direction: row;
    border: #FF9A8B 2px solid;
    margin-left: 40px;
    width: 250px;

}

.task, .Dtask {
    display: flex;
    flex-direction: column;
}

.taskName, .taskDate, .DtaskName, .DtaskDate {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    color: #FF9A8B;
    margin-left: 10px;
}

.taskNameDate, .DtaskNameDate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.taskDescription, .DtaskDescription {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #FF9A8B;
    margin-left: 10px;
    margin-top: -20px;
}

.icon {
    color: #FF9A8B;
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-left: 15px;
}

.taskAdd {    
    display: flex;
    flex-direction: row;
    align-items: center;
}

#createTask {
    max-width: 500px;
    margin: 130px auto;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    padding: 50px;
    border-radius: 20px;
    
}

#backgroud {
    z-index: -2;
}

#background {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.658);
    filter: blur(2px);
}

#taskDetails {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    width: 500px;
    height: fit-content;
    border-radius: 20px;
    padding: 25px;
}

.title3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white; 
    margin-left: 15px;
}

.subtitle2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: white; 
    margin-left: 20px;
    margin-top: -25px;
}

.text {
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: white; 
    margin: -10px 20px 0px 20px;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20px 20px 20px;
}

.icon2 {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(128deg) brightness(109%) contrast(101%);
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.headerTask {
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
}


